---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
        title="UI Engineer at ManagedMethods"
        subtitle="From July 2021 to Present, Boulder, Colorado"
    >
      <li>
        Define and enforce UI architectural decisions and project requirements.
      </li>
      <li>
        Successfully migrated legacy UI platform to TypeScript, React, and Vite, resulting in improved application efficiency and an enhanced experience for both users and developers.
      </li>
      <li>
        Reduced production client bundle size by 70%, saving thousands of dollars monthly in Google Cloud provider costs.
      </li>
    </TimeLineElement>
    <TimeLineElement
        title="Front End Software Engineer at Douglas County Schools IT Department"
        subtitle="From December 2016 to July 2021, Castle Rock, Colorado"
    >
      <li>
        Audited applications and ensured compliance with WCAG accessibility standards.
      </li>
      <li>
        Advocated for and implemented an API-first design methodology, resulting in significant enhancements in the scalability and predictability of applications.
      </li>
      <li>
        Implemented integration, unit, and end-to-end tests using Jest, React Testing Library, and Cypress, enhancing code coverage and providing developers with confidence when making changes affecting multiple applications.
      </li>
    </TimeLineElement>
    <TimeLineElement
        title="UX Developer at Blackboard"
        subtitle="From October 2011 to November 2016, St. Louis, Missouri"
    >
      <li>
        Served as a liaison between the development and UX teams, ensuring designs were feasible and utilizing existing design system components, which accelerated the time to market for features.
      </li>
      <li>
        Produced prototypes and comprehensive UI deliverables, including wireframes, flowcharts, and screen mock-ups using Figma, Adobe XD, and other design tools.
      </li>
      <li>
        Gathered user feedback and integrated it into application design and development, enhancing products and boosting user satisfaction.
      </li>
    </TimeLineElement>
    <TimeLineElement
        title="Front End Developer at SchoolCenter"
        subtitle="From March 2008 to October 2011, St. Louis, Missouri"
    >
      <li>
        Successfully converted Adobe Flash websites to responsive HTML alternatives, ensuring optimal cross-device compatibility.
      </li>
      <li>
        Led branding, media, and website development for school districts nationwide.
      </li>
      <li>
        Produced wireframes, mockups, and high-fidelity designs in alignment with customer specifications.
      </li>
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>TypeScript</li>
    <li>React</li>
    <li>Vue</li>
    <li>Angular</li>
    <li>Java</li>
    <li>Spring Boot</li>
    <li>React Query</li>
    <li>Zustand</li>
    <li>Redux</li>
    <li>MSW</li>
    <li>Storybook</li>
    <li>Vite</li>
    <li>Webpack</li>
    <li>Jest</li>
    <li>React Testing Library</li>
    <li>Cypress</li>
    <li>Docker</li>
    <li>CI/CD</li>
    <li>Keycloak</li>
    <li>Github Actions</li>
    <li>Google Cloud</li>
    <li>Postgres</li>
    <li>MySQL</li>
    <li>Figma</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4">
    <TimeLineElement
        title="Bachelor in Fine Arts, Communication Design"
        subtitle="2004 to 2008 at Southern Illinois University, Carbondale, Illinois"
    />
  </div>
</BaseLayout>
